<!-- <div class="d-flex justify-content-center"> -->
<mat-card class="border rounded">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <p>
        <mat-form-field>
          <input formControlName="name" id="name" matInput placeholder="Nome" required />
          <mat-error *ngIf="f.name.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input formControlName="password" id="password" type="password" matInput placeholder="Senha" required />
          <mat-error *ngIf="f.password.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>
      </p>
      <div *ngIf="error" class="error">Usuário ou senha inválido!</div>
      <button mat-raised-button color="primary" (click)="submit()">Entrar</button>
    </form>
  </mat-card-content>
</mat-card>
<!-- </div> -->
