<div class="container mx-auto px-2">
  <app-table-with-filter-add-button
  [datasource]="dataTable"
  [columns]="columnData"
  [addButton]="addButton"
  [actionsOnRow]="actions"
></app-table-with-filter-add-button>

<ng-template #actions let-columnData="columnData" let-row="row">
  <div class="actions" *ngIf="row?.hovered && columnData.name == 'position'">
    <button
      mat-button
      color="primary"
      aria-label="escalar"
      extended
      (click)="saveForFixture(row)"
    >
      <mat-icon>how_to_reg</mat-icon>
      Escalar
    </button>
    
    <button
      mat-button
      color="primary"
      aria-label="atualizar"
      extended
      (click)="edit(row)"
    >
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <button
      mat-button
      color="warn"
      aria-label="deletar"
      extended
      (click)="delete(row)"
    >
      <mat-icon>delete</mat-icon>
      Deletar
    </button>
  </div>
</ng-template>

</div>

