<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Times Sorteados</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-6" *ngFor="let team of teams.data | keyvalue; index as i">
      <h3 style="margin-bottom: 10px;">Time {{i+1}}</h3>
      <app-player 
        *ngFor="let player of team.value" 
        [data]="player">
      </app-player>
    </div>
  </div>
</div>

