<div class="row">
  <mat-form-field class="col-6 col-sm-8 col-md-8 col-lg-10" >
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <app-players-add class="col-6 col-sm-4 col-md-4 col-lg-2 pull-right"></app-players-add>
</div>
<table mat-table [dataSource]="players" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Idade </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Posição </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container> -->

  <ng-container matColumnDef="skillLevel">
    <th mat-header-cell *matHeaderCellDef> Nível </th>
    <td mat-cell *matCellDef="let element"> {{element.skillLevel}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr (click)="deletePlayer(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
