@import '../../../app.component.scss';

.outer {
  width: 100%;
  height: 70%;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.outer div {
  width: 70%;
  // background-color: #eee;
  float: none;
  height: 90%;
  margin: 0 0.5%;
  display: inline-block;
  zoom: 1;
}
