<!-- <div class="row"> -->
<div class="col-md-2">&nbsp;</div>
<!-- <div class="col-md-8"> -->
    <div class="row">
        <mat-form-field class="col-5 col-sm-5 col-md-5 col-lg-5" >
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <!-- <app-player-form class="col-3 col-sm-3 col-md-3 col-lg-3 pull-right"></app-player-form> -->
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 pull-right">
            <button mat-menu-item (click)="open()" title="Add Jogador">
                <mat-icon>person_add</mat-icon>
                <span >Jogador</span>
            </button>
        </div>
        <!-- <app-match-players class="col-3 col-sm-3 col-md-3 col-lg-3 pull-right"></app-match-players> -->
    </div>
    <div id="tasksPanel" class="panel panel-default">
        <div class="panel-heading">
            <!-- <h3 class="panel-title">Jogadores da Pelada NCS</h3> -->
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                <!-- <app-players-add></app-players-add> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <app-players-list></app-players-list> -->
                    <table mat-table [dataSource]="players" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                    
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)"
                                        [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                        </td>
                    </ng-container>
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    
                    <!-- Weight Column -->
                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef> Idade </th>
                        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
                    </ng-container>
                    
                    <!-- Symbol Column -->
                    <!-- <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> Posição </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container> -->
                    
                    <ng-container matColumnDef="skillLevel">
                        <th mat-header-cell *matHeaderCellDef> Nível </th>
                        <td mat-cell *matCellDef="let element"> {{element.skillLevel}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr (click)="deletePlayer(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
<div class="col-md-2">&nbsp;</div>
