<app-table-with-filter-add-button
  [datasource]="dataTable"
  [columns]="columnData"
  [actionsOnRow]="actions"
></app-table-with-filter-add-button>

<ng-template #actions let-columnData="columnData" let-row="row">
  <div class="actions" *ngIf="row?.hovered && columnData.name == 'name'">
    <button
      mat-button
      color="primary"
      aria-label="escalar"
      extended
      (click)="payDailyFee(row)"
    >
      <mat-icon>attach_money</mat-icon>
      Diária
    </button>
    
    <button
      mat-button
      color="primary"
      aria-label="atualizar"
      extended
      (click)="payMonthlyFee(row)"
    >
      <mat-icon>price_change</mat-icon>
      Mensalidade
    </button>
  </div>
</ng-template>