@import "~@angular/material/theming";
@import '../theme.scss';

@include mat-core();

$alterPrimary: mat-palette($customPrimary, 500, 200, 500);

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}

.background-material-primary-color {
    background-color: mat-color($customPrimary);
}

.clickable {
    cursor: pointer;
}

.material-primary-color {
    color: mat-color($customPrimary);
}

.nounderline {
    text-decoration: none !important;
}

.noblue-text {
   color: inherit;
}

.selected-player {
    background: mat-color($customAccent);
    margin-bottom: 5px;
}

.default-player {
    background-color: mat-color($alterPrimary);
    margin-bottom: 5px;
}