<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Times Sorteados</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <!-- <div class="row"> -->
    <!-- <div class="col-md-6" *ngFor="let team of teams.data | keyvalue">
      <mat-list>
        <h3>{{team.key}}</h3>
        <mat-list-item *ngFor="let player of team.value">
          <mat-icon mat-list-icon>person</mat-icon>
          <span>{{player.name}}</span>
          <span>&nbsp;&nbsp; - &nbsp;&nbsp;</span>
          <span>{{player.skillLevel.name}}</span>
        </mat-list-item>
      </mat-list>
    </div> -->
  <!-- </div> -->
  <div class="row">
    <div class="col-sm-6" *ngFor="let team of teams.data | keyvalue; index as i">
      <h3>Time {{i+1}}</h3>
      <mat-grid-list cols="3" rowHeight="25px" *ngFor="let player of team.value">
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="3">
          <img src="../../../assets/images/icons8-user-96.png" class="img-fluid rounded-circle hoverable" alt="hoverable">
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="3">        
            <span>{{player.name}}</span>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="3">        
            <span>{{player.skillLevel.name}}</span>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>

