<mat-toolbar color="primary">
  <div>
    <button class="" mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="d-flex justify-content-start">
    <span class="fill-remaining-space text-center">Peladator</span>
  </div>
  <!-- <div class="justify-content-end">
    <button mat-button [matMenuTriggerFor]="menu">Tema</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>1</button>
      <button mat-menu-item>2</button>
    </mat-menu>
  </div> -->
</mat-toolbar>