<div class="container mx-auto py-4">
  <button mat-raised-button (click)="redirectTo('/squad')">Elenco</button>
  
  <button mat-button [matMenuTriggerFor]="fixturesMenu">Partidas</button>
  <mat-menu #fixturesMenu="matMenu" yPosition="above">
    <button mat-menu-item (click)="redirectTo('/squad/create-fixture')">Gerar Times</button>
    <button mat-menu-item (click)="redirectTo('/squad/latest-fixture')">Últimos Times Gerados</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="financeMenu">Finanças</button>
  <mat-menu #financeMenu="matMenu" yPosition="above">
    <button mat-menu-item (click)="redirectTo('/payments/customers')">Pagamentos</button>
    <button mat-menu-item (click)="redirectTo('/payments')">Relatório</button>
  </mat-menu>
  <div class="py-3">
    <mat-divider></mat-divider>
  </div>
</div>

