<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dados do Jogador</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="playerForm" validate (ngSubmit)="addPlayer(playerForm.value)">
      <div class="form-group"> 
        <mat-form-field class="">
          <input formControlName="name" id="name" matInput placeholder="Digite o nome" value="">
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
        </mat-form-field>
      </div>
      
      <div class="form-group"> 
        <mat-form-field class="">
          <input formControlName="age" id="age" type="number" matInput placeholder="Digite a idade">
          <mat-error *ngIf="hasError('age', 'required')">Name is required</mat-error>
        </mat-form-field>
      </div>
      
      <div class="form-group">
        <mat-form-field>
          <select matNativeControl placeholder="Selecione o nível" formControlName="skillLevel" id="skillLevel">              
            <option *ngFor="let level of playerLevels" [value]="level.description">
              {{level.description}}
            </option>  
          </select>
          <mat-error *ngIf="hasError('skillLevel', 'required')">skillLevel is required</mat-error>
        </mat-form-field>        
      </div> 
      
      
      <!-- <div class="form-group">
        <mat-form-field>
          <select matNativeControl placeholder="Selecione a posição" name="position" [(ngModel)]="addedPlayer.positionId" required>
            <option value=""> ... </option>
            <option *ngFor="let position of playerPositions" [value]="position.id">
              {{position.name}}
            </option>
          </select>
          <p>position: {{addedPlayer.positionId}}</p>
        </mat-form-field>   
      </div> -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancelar</button>
    <button type="submit" class="btn btn-outline-dark" (click)="addPlayer()">Salvar</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add Jogador</button>

<hr>

<!-- <pre>{{closeResult}}</pre> -->