  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dados do Jogador</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="playerForm" validate (ngSubmit)="addPlayer(playerForm.value)">
      <div class="form-group"> 
        <mat-form-field class="">
          <img matPrefix  src="../../../assets/images/icons8-user-96-2.png" class="img-fluid rounded-circle hoverable" alt="hoverable">
          <input matInput placeholder="" id="issueType">
        </mat-form-field>
      </div>
      <div class="form-group"> 
        <mat-form-field class="">
          <input formControlName="name" id="name" matInput placeholder="Nome" value="">
          <mat-error *ngIf="hasError('name', 'required')">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      
      <div class="form-group"> 
        <mat-form-field class="">
          <input formControlName="age" id="age" type="number" matInput placeholder="Idade">
          <mat-error *ngIf="hasError('age', 'required')">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      
      <div class="form-group">
        <mat-form-field>
          <select [compareWith]="compareItemSelect" matNativeControl placeholder="Posição" id="position" formControlName="position">
            <option value=""> ... </option>
            <option *ngFor="let position of playerPositions" [ngValue]="position">
              {{position.name}}
            </option>
          </select>
          <mat-error *ngIf="hasError('position', 'required')">Campo obrigatório</mat-error>
        </mat-form-field>   
      </div>

      <div class="form-group"> 
        <mat-form-field class="">
          <input formControlName="shirtNumber" id="shirtNumber" type="number" matInput placeholder="Número da camisa">
          <mat-error *ngIf="hasError('shirtNumber', 'required')">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Nível" id="skillLevel" disabled>
          <mat-icon style="cursor: pointer;" #star1 (click)="activeStar(star1, 1)" [ngClass]="starIconClasses[0]">grade</mat-icon>
          <mat-icon style="cursor: pointer;" #star2 (click)="activeStar(star2, 2)" [ngClass]="starIconClasses[1]">grade</mat-icon>
          <mat-icon style="cursor: pointer;" #star3 (click)="activeStar(star3, 3)" [ngClass]="starIconClasses[2]">grade</mat-icon>
          <mat-icon style="cursor: pointer;" #star4 (click)="activeStar(star4, 4)" [ngClass]="starIconClasses[3]">grade</mat-icon>
          <mat-icon style="cursor: pointer;" #star5 (click)="activeStar(star5, 5)" [ngClass]="starIconClasses[4]">grade</mat-icon>
          <p class="has-error" *ngIf="hasErrorSkillLevelField">Campo obrigatório</p>
        </mat-form-field>        
      </div> 
    </form>
  </div>
  <div class="modal-footer">    
    <button *ngIf="player" type="submit" mat-raised-button color="warn" (click)="submit(true)">Remover</button>
    <button type="button" mat-raised-button (click)="activeModal.close('Save click');playerForm.reset();">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" (click)="submit(false)">Salvar</button>
  </div>