<mat-toolbar color="primary">
  <span class="">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <!-- <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button> -->
      <button mat-menu-item routerLink="/player">
        <mat-icon>people_outline</mat-icon>
        <span>Jogadores</span>
      </button>
      <button mat-menu-item>
        <mat-icon>attach_money</mat-icon>
        <span>Pagamentos</span>
      </button>      
      <!-- <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button> -->
    </mat-menu>
  </span>
  <span class="fill-remaining-space text-center">Pelada Arena Bancários</span>
</mat-toolbar>