/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';
@import './assets/styles/themes/theme.scss';

@include mat-core();

$primary: mat-palette($mat-red);
$accent: mat-palette($primary, 200, 100, 400);
$warn: mat-palette($mat-deep-orange, 500, 500, 500);
$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include material-custom-theme($theme);

html,
body {
  margin: 0;
  height: 100%;
}
