.mat-form-field {
  // font-size: 14px;
  width: 100%;
}

.decrease-horizontal-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.level-icon-active {
  color: gold;
}

.level-icon-inactive {
  color: grey;
}

.has-error {
  color: #f44336;
  font-size: 75%;
}
