<h4 mat-dialog-title id="modal-basic-title">Dados do Jogador</h4>
<div mat-dialog-content>
  <form [formGroup]="playerForm">
    <mat-form-field>
      <img
        matPrefix
        src="../../../assets/images/icons8-user-96-2.png"
        class="img-fluid rounded-circle hoverable"
        alt="hoverable"
      />
      <input matInput placeholder="" id="issueType" disabled />
    </mat-form-field>

    <mat-form-field>
      <input formControlName="name" id="name" matInput placeholder="Nome" value="" required />
      <mat-error *ngIf="f.name.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="age" id="age" type="number" matInput placeholder="Idade" required />
      <mat-error *ngIf="f.age.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="f.age.hasError('min')">Valor mínimo é 1</mat-error>
      <mat-error *ngIf="f.age.hasError('max')">Valor máximo é 99</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Posição</mat-label>
      <mat-select name="position" [compareWith]="compareItemSelect" formControlName="position" required>
        <mat-option [value]="">--</mat-option>
        <mat-option *ngFor="let pos of playerPositions" [value]="pos">
          {{ pos.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.position.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="shirtNumber"
        id="shirtNumber"
        type="number"
        matInput
        placeholder="Número da camisa"
        required
      />
      <mat-error *ngIf="f.shirtNumber.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="f.shirtNumber.hasError('min')">Valor mínimo é 1</mat-error>
      <mat-error *ngIf="f.shirtNumber.hasError('max')">Valor máximo é 99</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nível" id="skillLevel" disabled required />
      <mat-icon
        style="cursor: pointer;"
        (click)="activeStar(0)"
        [ngClass]="{ 'level-icon-active': activesStarIcon[0], 'level-icon-inactive': !activesStarIcon[0] }"
        >grade
      </mat-icon>
      <mat-icon
        style="cursor: pointer;"
        (click)="activeStar(1)"
        [ngClass]="{ 'level-icon-active': activesStarIcon[1], 'level-icon-inactive': !activesStarIcon[1] }"
        >grade
      </mat-icon>
      <mat-icon
        style="cursor: pointer;"
        (click)="activeStar(2)"
        [ngClass]="{ 'level-icon-active': activesStarIcon[2], 'level-icon-inactive': !activesStarIcon[2] }"
        >grade
      </mat-icon>
      <mat-icon
        style="cursor: pointer;"
        (click)="activeStar(3)"
        [ngClass]="{ 'level-icon-active': activesStarIcon[3], 'level-icon-inactive': !activesStarIcon[3] }"
        >grade
      </mat-icon>
      <mat-icon
        style="cursor: pointer;"
        (click)="activeStar(4)"
        [ngClass]="{ 'level-icon-active': activesStarIcon[4], 'level-icon-inactive': !activesStarIcon[4] }"
        >grade
      </mat-icon>
      <p class="has-error" *ngIf="hasErrorSkillLevelField">Campo obrigatório</p>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="flex justify-end">
  <button
    class="decrease-horizontal-padding"
    *ngIf="data"
    type="submit"
    mat-raised-button
    color="warn"
    (click)="submit(true)"
  >
    Remover
  </button>
  <button class="decrease-horizontal-padding" type="button" mat-raised-button (click)="close(); playerForm.reset()">
    Cancelar
  </button>
  <button class="decrease-horizontal-padding" type="submit" mat-raised-button color="primary" (click)="submit(false)">
    Salvar
  </button>
</div>
